<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- image goes here-->
            <!-- v-bind : Dynamically bind an attribute(src) to an expression(image) -->
            <!-- v-bind 로 main.js 의 image 를 가져옴 -->
            <img v-bind:src="image2">
            <!-- <img :src="image2"> 로도 사용 가능 (HTML에서 많이 사용) -->
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <a :href="myUrl"> go ncsoft </a>
            <!-- 
              inStock 의 데이터(true/false에 따라 결과 달라짐)
              v-else 꼭 쓸 필요 x
            -->
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <!-- v-show 가 false 면 hidden 처리 -->
            <p v-show="inStock2"> In Stock2 </p>

            <p v-if="onSale">On Sales</p>

            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id">{{variant.color}}</div>
            <ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <!-- Mount App -->
    <!-- div id가 'app' 인 곳에 mount(연결) -->
    <script>
      const mountedApp =  app.mount('#app')
    </script>
  </body>
</html>
